@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.component-container {
  min-height: calc(100vh - 5.5em - 1px);
}
